[2015-09-23 02:57] amaliebarras opened #1 "Advocacy Page `/advocacy/`"
## Organize existing resource page
- [ ] Policy starter guide (can recycle "learn more" content)
- [x] Resource links (including candidate questionaires)

[2015-10-20 20:49] luqmaan opened #2 "Test issue"
:hamburger:

[2015-10-20 20:50] luqmaan opened #3 "Lol"
:rainbow:

[2015-10-20 20:58] luqmaan opened #4 "Get groceries"
- [ ] milk
- [ ] chocolate

[2015-10-21 02:44] amaliebarras opened #5 "Reach out to Taylor or find another WP developer for FU weekend"

[2015-10-21 02:44] amaliebarras opened #6 "configure git heart issues with tasks"

[2015-10-21 02:46] amaliebarras opened #7 "create membership survey for connect w/ us link"

[2015-10-21 02:48] amaliebarras opened #8 "Hack Team Page `/projects/get-hacking`"
## Project List
- finished - TBD
- current ( https://github.com/open-austin )
- ideas ( https://github.com/open-austin/project-ideas/issues )
## Service Status
- [ ] embed from old site
## Include learn more section

[2015-10-21 02:51] amaliebarras commented on #1
I think we decided to make this policy toolkit a hack project of its own, so tossing this into backlog till we get that started

[2015-10-21 02:52] amaliebarras opened #9 "add typography and color inspiration to pinterest"
Typography:

Based on vote in #design and #website slack channels...

Header: Myriad, bold
Subhead: Georgia, italic
Body: Myriad, regular

<img width="1272" alt="screen shot 2015-11-17 at 9 33 16 pm" src="https://cloud.githubusercontent.com/assets/11826646/11231926/e592bda6-8d72-11e5-823c-cc16c85f5f6f.png">

Color:

Based on feedback gathered at October hack night...

<img width="390" alt="screen

[2015-10-21 02:53] amaliebarras commented on #9
@VictoriaODell it'll only let me assign to one person, so I'm assigning it to me but this one's for both of us :)

[2015-10-21 14:32] luqmaan commented on #9
http://www.underconsideration.com/brandnew/

[2015-10-22 15:24] amaliebarras opened #10 "Events Page `/events/`"
- [x] Large Meetup image
- [x] Embed calendar
- [x] Instructions for adding calendar (s) to feed (http://webapps.stackexchange.com/questions/3628/can-i-publish-a-feed-of-my-meetups-to-appear-on-my-google-calendar)
- [ ] Link to email us to add an event

<img width="515" alt="screen shot 2015-11-22 at 12 39 27 pm" src="https://cloud.githubusercontent.com/assets/11826646/11325549/459f8c82-9116-11e5-

[2015-10-22 15:44] #6 closed

[2015-10-22 16:34] luqmaan commented on #10
Why?

What are the other Meetups in the first place?

[2015-10-22 16:45] amaliebarras commented on #10
like the maptime meetup, there was a github workshop last week that helped me lots, d3 meetup sometimes, hacks/hackers, and things like the myCreek charette and divHack, etc.

[2015-10-22 16:47] twentysixmoons commented on #10
I don't believe this is priority either but it would def be a nice to have.

[2015-10-22 16:47] amaliebarras commented on #10
agree

[2015-10-28 19:10] amaliebarras opened #11 "Learn More Page"
### Learn more landing page
- [x] Move about page
- [ ] Add time line and story
- [x] Link to this http://www.austinchronicle.com/news/2009-06-05/789960/
- [ ] Get involved / Get Hacking anchor button
- [x] Coreteam
- [x] Values & Code of Conduct

### Get Involved / Get Hacking links
#### Come hang
meetup
#### Talk with us
slack
twitter
#### Connect and learn
survey
#### Work
policy page
github
pr

[2015-10-30 21:33] amaliebarras commented on #5
decided to build site in Jekyll, meeting Nov 5 to start

[2015-11-04 15:23] twentysixmoons commented on #5
Let's close this now since we got it figured out!
Taylor knows Jeklly, Mateo does, and we'll figure it out too!

[2015-11-04 15:23] #5 closed

[2015-11-06 01:54] #3 closed

[2015-11-06 01:54] #2 closed

[2015-11-06 01:56] mateoclarke opened #12 "Create new files in `_layouts`"
Skeletons pages:
- [x] Blog Index
- [x] Blog Post Page
- [x] Generic Page (no sidebar)

[2015-11-06 02:01] mateoclarke opened #13 "Create/update `_includes`"
- [x] header.html
- [x] hero.html
- [x] footer.html

[2015-11-06 02:04] mateoclarke opened #14 "Create homepage"
- [x] hero section
- [x] link to meetup / "blurb" section
- [x] featured blog posts
- [x] featured projects
- [x] Change Colors
- [x] Add "read more projects" link
- [x] Sponsor logos into the footer
- [x] make hero banner buttons work (javascript?)
- [ ] make icons below hero link to something

[2015-11-06 05:00] #4 closed

[2015-11-06 05:01] #7 closed

[2015-11-18 03:29] amaliebarras commented on #9
Logo is in separate issue here: https://github.com/open-austin/iced-coffee/issues/2

[2015-11-21 20:05] mateoclarke opened #17 "Links to images and documents that are saved to Wordpress Media directory will break"
We can probably extract all these media files and dump them to a file in the jekyll repo and batch update (find and replace) paths to the WP Media directory

[2015-11-22 18:03] amaliebarras opened #23 "Add logo to header"
When logo is finished, add to header page than links back to home page. possibly add it to hero banner too

[2015-11-22 18:04] amaliebarras commented on #23
@VictoriaODell plz feel free to assign this issue back to me when the logo's ready :)

[2015-11-22 18:42] #9 closed

[2015-11-22 18:56] amaliebarras opened #24 "Desktop styling Issues"
- [x] Make featured posts inline instead of vertical
- [ ] ~~Need more space between buttons on hero banner~~
- [x] Webfont link isn't working (Raleway)
- [x] update orange and grey to hex codes vicky provided

Orange #e05e26
Grey #585859

[2015-11-22 19:02] amaliebarras opened #25 "Add Open Austin to CFAPI"
We need to be added to the Code for America API  http://codeforamerica.org/api so that we can leverage the Civic Tech Issue Finder tool on our site and connect people to hack projects quickly

<img width="746" alt="screen shot 2015-11-21 at 6 51 57 pm" src="https://cloud.githubusercontent.com/assets/11826646/11325678/505a09a6-9119-11e5-8cd6-47e9953ad2b2.png">

[2015-11-23 03:44] mateoclarke commented on #25
We already added ourself a long while back:
http://codeforamerica.org/api/organizations/Open-Austin

[2015-11-23 03:45] mateoclarke commented on #25
@amaliebarras, use this form to created the correct query to the Civic Tech Issue Finder and to generate the iframe with just our issues: https://www.codeforamerica.org/geeks/civicissues/embed

[2015-11-23 03:46] mateoclarke commented on #25
`<iframe src="https://www.codeforamerica.org/geeks/civicissues/widget?organization_name=Open-Austin&number=12" width="100%" height="600" frameBorder="0"></iframe>`

[2015-11-23 03:49] mateoclarke commented on #25
[This repo](https://github.com/open-austin/Civic_Project) is how projects are populated. I think it's kinda clunky and doesn't get updated frequently enough. @luqmaan may consider a new process to inventory projects and send them to the CfA API
https://github.com/open-austin/Civic_Project

[2015-11-23 03:49] #25 closed

[2015-12-02 01:54] taylortrc opened #27 "remaining blog to-dos"
- [ ] add default image to blog (going to wait until logo finalized)
- [x] fix breadcrumb styling
- [x] add real images from WP to most recent posts
- [x] move first "in-post" pic to featured image spot

[2015-12-02 01:56] #12 closed

[2015-12-03 03:10] amaliebarras commented on #27
Hey! the github stuff is figured out now - so you should be good to get crackin

[2015-12-03 04:31] betsydupuis opened #31 "Code for America Summit Logo is distorted."
<img width="956" alt="screen shot 2015-12-02 at 10 30 49 pm" src="https://cloud.githubusercontent.com/assets/2096627/11551973/79abb470-9944-11e5-9949-3d9ca4ced7a0.png">

[2015-12-03 04:40] amaliebarras opened #33 "Responsive Styling Issues"

[2015-12-03 04:41] #13 closed

[2015-12-03 04:44] amaliebarras opened #34 "Donate / Sponsor Page"
- [x] Put link in header
- [x] Add link to or embed donate form
https://secure.codeforamerica.org/page/contribute/?brigade=open%20austin
- [ ] include previous sponsors and examples - https://docs.google.com/document/d/1pAsvnfr_6t6vkTax5NPfv6os8ZNLf_p4DzAVCT4YQrE/edit
- [x] contact us for other partnerships / sponsorships / etc.

[2015-12-11 22:02] taylortrc commented on #27
It's probably best to add the default image once we have the logo finalized. Otherwise, the other blog todo items are complete! :-)

[2015-12-11 22:08] taylortrc commented on #27
- [x] resolve missing thumbnail on post.html

[2015-12-11 22:24] taylortrc commented on #27
submitted a pull request with all the tasks above completed! :heavy_check_mark: (minus the default image)

[2015-12-11 22:25] #27 closed

[2015-12-15 01:21] luqmaan opened #37 "Go-live process"
We need to do some things to get the new site live:

- [x] Choose target date
- [x] Change DNS to point to open-austin.github.io
- [x] Make sure WP URL settings are configured correctly

[2015-12-19 23:58] amaliebarras opened #38 "header is not showing up with most up-to-date changes"
local files are serving to jekyll with full header, but gh-pages is not showing the full header

[2015-12-20 00:00] amaliebarras commented on #38
Supposed to look like
<img width="971" alt="screen shot 2015-12-19 at 5 59 29 pm" src="https://cloud.githubusercontent.com/assets/11826646/11915744/58b95d6a-a67a-11e5-910d-39f482ab0a93.png">

showing up as
<img width="979" alt="screen shot 2015-12-19 at 5 59 16 pm" src="https://cloud.githubusercontent.com/assets/11826646/11915746/5d6c1c12-a67a-11e5-83e8-de2418628f8c.png">

[2016-01-18 05:58] mateoclarke commented on #38
There's something weird here where the ruby loop works in `jekyll serve` locally but not hosted on github pages.

http://github.com/open-austin/open-austin-org/blob/2be279e4ca4f29d033b5d2f90197289545c9de8a/_includes/header.html#L19

Probably best just to card code the links since they won't change very often anyways.

[2016-01-18 05:59] #23 closed

[2016-01-18 06:00] mateoclarke commented on #31
this seems to be resolved.

[2016-01-18 06:00] #31 closed

[2016-01-18 06:01] mateoclarke commented on #17
export process did a pretty good job with this. would be good to go back over old articles and make sure they look ok

[2016-01-18 06:01] #17 closed

[2016-01-18 06:11] #38 closed

[2016-01-18 06:45] mateoclarke commented on #14
I'm not in love with the icons below the hero section. Ideally they would be svg instead of png (to look better on retina displays and so we can change the color with css instead of editing the image file.)

Not sure where they are supposed to link to. And the places I would guess that they link to seem link redundant links.

Come hang out => Events?
Talk to Us => Slack? or a mailto: link?
Get Con

[2016-01-18 06:45] mateoclarke commented on #14
Closing this issue and breaking the last item as a seperate issue

[2016-01-18 06:45] #14 closed

[2016-01-18 06:47] mateoclarke opened #39 "Implement links for Icon section beneath hero section on hompage"
- updated icons would be nice, preferably svg.

see #14

[2016-01-18 16:32] twentysixmoons commented on #14
In the original design they didn't link to anything. They were supposed to
be quick blurbs about the different things Open Austin does with icons that
correspond. I think that part got lost in translation since I had to hop
off working on website to do logo stuff.

_Victoria O'Dell_ | Visual Designer & Activist
_c:_469.951.1576  _e:_victoria.d.odell@gmail.com  _w:_victoriaodell.com

On Mon, Jan 18

[2016-01-18 17:05] amaliebarras commented on #14
Makes sense. I thought you could do that with css but wasn't sure so I just manually edited the files lol.

I can look up how to do that but first, what content to we want on there, then?

[2016-01-29 03:29] VictoriaODell opened #40 "Visual Styleguide"
Create a visual styleguide for Open Austin Website.
[Code for America](http://style.codeforamerica.org/) has an excellent base.

[2016-01-29 07:08] mateoclarke commented on #39
![screen shot 2016-01-29 at 1 08 29 am](https://cloud.githubusercontent.com/assets/5697474/12669271/d3207902-c624-11e5-9fd7-223a048b63df.png)

[2016-01-29 07:08] #39 closed

[2016-01-29 15:55] mateoclarke opened #41 "homepage - format news/blog section"
Right now, blog items are listed vertically. We could pull out a featured image and give that section a strong pull.

Is one featured article good, or more? Should it default to the most recent?

[2016-01-29 15:58] mateoclarke opened #42 "homepage - try out a next event banner?"
This was a cool idea from an earlier mock: https://github.com/open-austin/open-austin-org/blob/gh-pages/planning-design/final_mockups/oa_homepage_mockup.pdf

Maybe we give it a try on the homepage?

[2016-01-29 17:06] mateoclarke opened #43 "homepage - featured projects section"
Part of this will be creating a `_projects` directory which will include a markdown file for each project with yml front matter at the top with metadata and descriptions of each project. Basically the same pattern as the `_posts` directory for blog posts.

and the next step will be render those files into some format for the project gallery page. which make be the same as the hack team page or som

[2016-01-29 17:07] mateoclarke opened #44 "Projects Page `/projects/`"

[2016-01-29 17:08] mateoclarke commented on #44
I think this page should be a gallery of projects. Maybe cards for each project? Images or screen shots would be nice.

[2016-01-29 17:11] mateoclarke commented on #8
I think this page should be more information than the projects page #44.
- It should include a link to see all the projects we've done.
- It should point people to projects/issues they can contribute to.
- It should explain why we github/open source.
- It should point to resources like data.austintexas.gov.

[2016-01-29 17:51] twentysixmoons commented on #41
I believe we initially intend for one blog post(The most receont one) to be featured on the front page then linking out to the rest of the blog post. Thoughts on going forward with that?

I think for sure the featured should default to the most recent since it'll show that we are active.

If we want to put more post on the front page I think we can pull out three and have them inline.

[2016-01-29 19:04] mateoclarke opened #45 "New import of blog posts and images added since first WP import"

[2016-01-30 04:10] mateoclarke commented on #41
Cool. I like the idea of three in a row. But let's go with one featured for now. In the future maybe we have the option to switch between the two with a quick config change.

[2016-01-30 07:10] mateoclarke commented on #41
![screen shot 2016-01-30 at 1 09 01 am](https://cloud.githubusercontent.com/assets/5697474/12694282/434f392e-c6ee-11e5-8cab-5f952c912d33.png)

[2016-01-30 07:10] #41 closed

[2016-01-30 07:23] mateoclarke commented on #43
mockup for reference:
https://github.com/open-austin/open-austin-org/blob/gh-pages/planning-design/final_mockups/blog_homepage_website.pdf

[2016-01-30 07:25] mateoclarke commented on #8
Ideas for sections based on a [previous mock](https://github.com/open-austin/open-austin-org/blob/gh-pages/planning-design/final_mockups/oa_homepage_mockup.pdf):
- Recently launched
- Needs love / Open Issues
- Suggest a Project Idea / Start a project / new project onboard

[2016-01-30 23:21] mateoclarke commented on #43
![screen shot 2016-01-30 at 5 12 04 pm](https://cloud.githubusercontent.com/assets/5697474/12699091/c96086c2-c774-11e5-8aea-1fc01ee2ec5c.png)

Here is the project section. It pulls any project in the projects directory that has `featured: true` in it's yaml front matter. (ex: [last column in this formatted yml file](http://github.com/open-austin/open-austin-org/blob/60c5460039dcba21b96b3350ade056a

[2016-01-30 23:25] mateoclarke opened #46 "homepage - Footer"
- [x] add more Find Us Online logos/links
- [x] update styling to inline
- Do we want the sponsors section? Maybe we call it a thank you to...

[2016-01-30 23:41] mateoclarke opened #47 "Projects Gallery - markdown files"
In order to make each of these projects more attractive, we need to find photos, screenshots or logos of them to display. Ideally these photos would all have the same aspect ratio so we don't have to get clever with cropping and art direction via CSS.

We should also include more descriptive information about each project. I copy/pasted the README.md content from the Instabus project for `_project

[2016-01-31 06:59] twentysixmoons commented on #43
3 projects would be sweet! I can already picture it. I think we should use mockups of the apps and have them inline. Which 3 should we feature now @mateoclarke and @luqmaan ?

I think Instabus and Park equity are 1 and 2 but what about 3?

[2016-01-31 14:23] mateoclarke commented on #43
Texas Appleseed? Recycle ATX?

[2016-01-31 22:53] amaliebarras opened #48 "Instructions for creating & editing blog posts"

[2016-01-31 23:16] mscarey opened #49 "make candidate questionnaires viewable"

[2016-01-31 23:17] amaliebarras commented on #11
We talked at the 1/31 meetup about ditching this page - need to make sure this content is redistributed to existing page (example, code of conduct to resource page) etc.

[2016-02-01 04:36] mateoclarke opened #50 "reorder nav items"
move advocacy right

[2016-02-01 04:36] mateoclarke opened #51 "add meetup social link to footer"

[2016-02-01 04:43] mateoclarke commented on #43
from the 1/31 core team huddle, it sounds like we should plan to switch to 3 featured projects before go live.

[2016-02-01 04:45] mateoclarke opened #52 "New homepage section to give more info"
replaces seperate Learn more page #11

[2016-02-01 04:47] mateoclarke opened #53 "Horizontal Version of Open Austin logo for nav header"
@luqmann pointed out that our name isn't in the header at all. Only in the hero section. He suggested putting "Open Austin" to the right of the star logo.

@VictoriaODell, what do you think about the best way to implement this?

[2016-02-01 04:47] mateoclarke opened #54 "Remove Learn More from header"
and hero?

[2016-02-02 01:39] twentysixmoons commented on #53
I think we should have an iteration of the logo done horizontally then. I can create that and then we can update the logo files on github.

[2016-02-02 16:30] mateoclarke opened #55 "Add Austin Monitor: The Basic to Resource page/section"
http://www.austinmonitor.com/basics/

[2016-02-02 19:16] mateoclarke commented on #55
also add Open Records Resources:

Public Information Handbook
https://www.texasattorneygeneral.gov/files/og/publicinfo_hb.pdf

City of Austin Open Records
http://www.austintexas.gov/department/open-records
http://www.austintexas.gov/ogcr

Texas Attorney General Open Gov FAQ
https://www.texasattorneygeneral.gov/faq/og-frequently-asked-questions

[2016-02-05 04:49] mateoclarke commented on #53
I think that would be good. But I don't think it's vital for launch. Can you put that on your todo list for the website @VictoriaODell? I'm going to rename this issue and put it in the backlog for now.

[2016-02-05 05:36] mateoclarke commented on #46
cleaned this up. still more nit picking to do in regards to more uniform widths or alignment, but pixel perfection can wait.

[2016-02-05 05:36] mateoclarke commented on #46
<img width="1440" alt="screen shot 2016-02-04 at 11 34 52 pm" src="https://cloud.githubusercontent.com/assets/5697474/12838827/1a29c90c-cb98-11e5-8701-7c3432310189.png">

[2016-02-05 05:36] #46 closed

[2016-02-05 05:36] mateoclarke commented on #51
done with #46

[2016-02-05 05:36] #51 closed

[2016-02-05 05:40] mateoclarke commented on #54
replaced with "Support". Will link to Donation page

[2016-02-05 05:40] #54 closed

[2016-02-05 07:34] mateoclarke commented on #43
Updated the format of the featured projects display on the homepage. We can switch which specific projects are featured once #47 moves forward and we have more options to pull from.

[2016-02-05 07:35] mateoclarke commented on #43
![screen shot 2016-02-05 at 1 32 33 am](https://cloud.githubusercontent.com/assets/5697474/12840393/acf72cce-cba8-11e5-965a-75c226c2577f.png)

[2016-02-05 07:35] #43 closed

[2016-02-05 07:41] #50 closed

[2016-02-05 16:31] twentysixmoons commented on #53
Agreed,

I don't know how you work, keep up with emails, and manage all this! I sit
next to a developer at work now so maybe I can try this myself too. X)

_Victoria O'Dell_ | Visual Designer & Activist
_c:_469.951.1576  _e:_victoria.d.odell@gmail.com  _w:_victoriaodell.com

On Thu, Feb 4, 2016 at 10:49 PM, Mateo Clarke notifications@github.com
wrote:

[2016-02-05 16:32] twentysixmoons commented on #46
Much nicer!😆

_Victoria O'Dell_ | Visual Designer & Activist
_c:_469.951.1576  _e:_victoria.d.odell@gmail.com  _w:_victoriaodell.com

On Thu, Feb 4, 2016 at 11:36 PM, Mateo Clarke notifications@github.com
wrote:

[2016-02-08 02:13] mateoclarke commented on #42
Luqmaan's fancy aws-lambas proxy thing is achieving the same result, but better.
https://github.com/open-austin/open-austin-org/pull/57#issuecomment-181124930

[2016-02-08 02:13] #42 closed

[2016-02-08 02:58] twentysixmoons commented on #10
I think the Text that is now on [the front page ](http://open-austin.github.io/open-austin-org/)about "Our Events" that @luqmaan added should be moved to the Events page.

[The current Events](http://open-austin.github.io/open-austin-org/events/) page is kind of lacking with just the Google Calendar so this would be a good addition and placement for that info.

[2016-02-08 04:04] VictoriaODell opened #60 "Button up the Buttons & links"
We have a few different styles of button hovers going on. Let's think about how to clean this up. Below I've documented the current styles we have.

@mateoclarke suggested using blue and I think it will help the buttons stand out from the orange. I'm currently looking into this issue.
# Current Experience
## Nav Bar

These link to internal pages
<img width="94" alt="screen shot 2016-02-07 at 9 09

[2016-02-08 04:20] mateoclarke commented on #60
I really liked the buttons that @luqmaan suggested. Empty background at default state to full on hover.

[2016-02-08 04:28] VictoriaODell opened #61 "Projects on Home Page"
I think the latest update to make the projects full width is kind of overwhelming on desktop but would work great on mobile.

I made some redlines with a possible solution that is different from the inital 3 column layout.
Let me know if it makes sense... I was thinking we can stack the 3 projects. It makes them more compact than they are now but also gives them some room to beathe. :dizzy:

![ope

[2016-02-08 04:31] twentysixmoons commented on #53
@mateoclarke Let's do this for launch. I put the horizontal logo in the Open Austin logo repo issue section and assigned it to you.

[2016-02-08 04:38] twentysixmoons commented on #60
I like the empty default also but maybe we should consider having a button that is styled a little stronger on certain CTAs. So have one button more neutral and another bolder.

I think what bothers me the most is we start with this button
<img width="150" alt="screen shot 2016-02-07 at 10 36 01 pm" src="https://cloud.githubusercontent.com/assets/10767430/12878499/6f83d64a-cdeb-11e5-8aaf-7f893d249

[2016-02-08 04:53] VictoriaODell opened #62 "Content reorganization for the homepage"
I made a really ugly redline to capture my thoughts on how we can reorganize the homepage. It's an adjusted version of what we have on the site map.
Biggest change is moving projects to go before the blog and moving the icons under the upcoming event block.

I'm going to mock this up now.

![oa-adjusted](https://cloud.githubusercontent.com/assets/10767430/12878625/7baad9ee-cded-11e5-9ba3-d4eea9523

[2016-02-08 05:08] twentysixmoons commented on #62
Iterating on the above now.

[2016-02-08 05:11] luqmaan commented on #60
:hammer: Fix it.

[2016-02-08 05:45] twentysixmoons commented on #62
Ignore this until I can figure out some stuff. I have a half-baked idea in the works.

[2016-02-11 05:51] VictoriaODell opened #68 "Project page width"
The project page has a wider width than the other nav pages.
Do ya'll know what's up?

I can't figure out what its supposed to be done to fix that.
@mateoclarke @luqmaan

:cat2:

[2016-02-11 07:35] mateoclarke commented on #68
They were using different layouts
https://github.com/open-austin/open-austin-org/blob/dc784640137da1693122d9eb3a2a8921395a032b/_layouts/project.html#L2
https://github.com/open-austin/open-austin-org/blob/dc784640137da1693122d9eb3a2a8921395a032b/events/index.html#L5

[2016-02-11 07:45] #68 closed

[2016-02-11 07:49] mateoclarke commented on #68
think that first link is actually wrong, but either way. the project index page was using the `layout: default` when it should've been using `layout: page`

[2016-02-11 13:54] twentysixmoons commented on #34
I think we should change the page link to say "Donate" instead of "Support"
Support is kind of ambiguous.

[2016-02-11 16:16] mateoclarke commented on #62
Are we still ignoring your redlines? Seemed like good ideas, happy to run with it once you're ready.

[2016-02-11 16:35] twentysixmoons commented on #62
@mateoclarke I started to work on making these changes. I think what's left is moving the meetup section.

[2016-02-12 05:40] mateoclarke commented on #53
this seems done

[2016-02-12 06:08] #53 closed

[2016-02-12 06:24] mateoclarke commented on #44
this is good enough for launch. we could tweek the layout to display these more inline instead of stacked, especially for desktop. kind of in line with vickie's comment on #61. more work to be done on #47 to provide more screenshots.

[2016-02-12 06:24] #44 closed

[2016-02-12 06:25] mateoclarke opened #72 "favicon"
Need a favicon for bookmarking

Use something like this:
http://www.favicon-generator.org/

[2016-02-12 07:54] mateoclarke opened #73 "About Page"
Todo:
- [x] turn html to markdown http://domchristie.github.io/to-markdown/
- [ ] update history section, timeline
- [x] add sidebar navigation section to quickly jump between anchors
- [x] add core team
- [ ] link to hack team

some ideas from this presentation:
https://docs.google.com/presentation/d/1Kx3HFwkA2evt74OP1dCaGnF5BxhKcMQRiyzjRidB3Ik/edit#slide=id.gd4d126627_0_400

[2016-02-13 15:58] mateoclarke commented on #52
this is done. we've moved more content to the landing page and made to dos to add to the about page #73

[2016-02-13 15:58] #52 closed

[2016-02-13 16:14] mateoclarke commented on #61
Jumping into this now at Civic Hack Saturday...

[2016-02-13 18:46] mateoclarke commented on #61
Ok, here's the screen grab for desktop. Will come back to make the image stretch to 100% on mobile when we do the sweep of responsive styling.
![screen shot 2016-02-13 at 12 39 17 pm](https://cloud.githubusercontent.com/assets/5697474/13029344/73e75fc8-d24f-11e5-885b-ed40afd37bf4.png)

Going to move this note into a enhancement issue to come back to later. Agree with the sentiment, but don't want

[2016-02-14 02:34] #61 closed

[2016-02-14 02:35] mateoclarke opened #74 "Hover text over project icons (or something descriptive)"
It's not initially clear that the project title links to an internal project page. The 3 icon/buttons that we have are nice but also aren't descriptive of what they link to. If anything a hover over text box would be nice.

[2016-02-14 21:15] luqmaan commented on #74
How about a plaintext link?

[2016-02-15 03:21] mateoclarke commented on #62
OK, I moved the 3 icons below the meetup widget.

Also got rid of the gray background around the blog post. Didn't feel right just behind that section. Open to feedback on that.

Also, I don't think "Join Us" is the best header. I get that "Upcoming Event" is more passive, but what about something like "Come to our next event".

[2016-02-15 03:21] #62 closed

[2016-02-15 15:03] twentysixmoons commented on #74
@luqmaan that will work

[2016-02-15 15:06] mateoclarke commented on #74
How about just make the icons look more like the project stage button? Turn them all into buttons.

I like that more than turning them into boring plain text links. But I also don't see a big problem with the icons.

[2016-02-15 15:12] luqmaan commented on #74
Boring plaintext links provide more context.

[ Link ]
[ http://instabus.org ]

[2016-02-16 03:43] mateoclarke commented on #1
Focusing on this now. Pulling in all the candidate questionaries and fixing hyperlinks is a turning into quite a task. Going to make sure we bring in all the existing documents first and let @mscarey suggest copy edits before the next Milestone.

[2016-02-16 03:44] mateoclarke opened #76 "Revisit language and content prioritization on `/advocacy'"
Focusing on preserving most of the content we already had. Creating this ticket to address the language and organization down the line

[2016-02-16 04:53] mateoclarke commented on #1
apparently PDFs didn't get included in the export and I cant find them in WP either, WTF. Lots of robot work this stupid human is having to do by hand.

[2016-02-16 05:01] twentysixmoons commented on #1
Do you need help with something?

[2016-02-16 05:07] mateoclarke commented on #1
nope :smile: I think it's all done! (...for now)
http://open-austin.github.io/open-austin-org/advocacy/

@mscarey Please make suggestions on language and content when you have a chance.

[2016-02-16 05:09] #1 closed

[2016-02-16 05:26] #72 closed

[2016-02-16 05:30] mateoclarke commented on #34
Moving on to this page...

Talked to some folks at Civic Hack Saturday about "Donate" vs "Support". I think support works if the page is meant to tell people all the ways they can get involved. Folks also felt like getting solicited to donate from the landing page nav is off putting.

So yes, its ambiguous, but for a reason.

[2016-02-16 06:45] mateoclarke commented on #34
Barebones page is here:
http://open-austin.github.io/open-austin-org/support/

Open to feedback, @mapineda @amaliebarras @VictoriaODell @luqmaan

[2016-02-16 16:37] twentysixmoons commented on #34
I see. I think I just missed something about what the page was for since the top comment seemed to mainly focus on sponsorships stuff.

I feel like this page is a little fuzzy right now. The content is stuff we for sure need but it needs to be reorganized a bit.

I believe I can work on some suggestions/edits this evening.

[2016-02-16 16:49] mateoclarke commented on #34
That would be awesome. Thanks Vickie :smile_cat:

Maybe we also add a section to recognize partners with their logos?
- WeWork
- Urban Co-Labs
- City of Austin
- St Edwards
- Code for America
- Google Fiber

If we do that, how long do we keep logos up?

[2016-02-17 03:15] twentysixmoons commented on #34
I think we should only put their logo if they constantly/currently sponsor or support us in a consistent way. Hmm, we don't really have any sponsorship levels or anything do we?

[2016-02-24 00:12] luqmaan opened #77 "Talks page"
A list of all the presentations from the civic tech meetups with:
- Title
- Brief description
- Slides if available
- Photo if available

[2016-02-28 07:06] mateoclarke commented on #33
Did a sweep through the landing page and other internal pages and made a couple changes. I welcome more testing, especially on Android browser. Should be good enough for launch unless someone catches something.

[2016-02-28 07:06] #33 closed

[2016-02-28 07:07] #24 closed

[2016-02-28 07:46] mateoclarke commented on #45
imported new content up till blog about Uzbek visit :flag-uz:

[2016-02-28 07:46] #45 closed

[2016-02-28 07:48] mateoclarke opened #78 "Clean up blog posts"
Specifically, image thumbnails should be added to the yml frontmatter. So that the image displays in the left column instead of inline.

ex: https://github.com/open-austin/open-austin-org/blob/608952a03c9680c5b57970e102992cc2e584cf8c/_posts/2015-11-12-ship-it-weekend-nov-21st-22nd.html#L10-L11

[2016-03-02 07:06] mateoclarke opened #79 "Pagination for /blog"
I had issues trying to update the `config.yml` to get pagination working.

But after referencing Code for Sac's Jekyll blog, I think I'm in the clear.
https://github.com/code4sac/codeforsacramento.org/blob/gh-pages/blog/index.html

Thanks for offering help @mtb33

[2016-03-02 07:09] #79 closed

[2016-03-03 17:08] mateoclarke opened #81 "fix strechy blog images on the homepage"
![screen shot 2016-03-03 at 11 07 31 am](https://cloud.githubusercontent.com/assets/5697474/13502336/31c8501c-e130-11e5-9afb-92ef717c6d96.png)

[2016-03-03 17:16] mateoclarke opened #82 "Improve pagination links on /blog"
- [ ] could be floated right or centered in the section?
- [x] padding
- [x] don't not show "previous" on page 1
- [ ] could use arrows or look better in general?

![screen shot 2016-03-03 at 11 08 58 am](https://cloud.githubusercontent.com/assets/5697474/13502575/243df734-e131-11e5-86a1-60e7cd7bb7fa.png)

[2016-03-04 02:22] luqmaan opened #83 "Add Google Analytics"
We need to add the Google Analytics script.

[2016-03-04 02:23] luqmaan opened #84 "Blog link on homepage is broken"
The current news blog link on the homepage links to: `http://open%20data/open%20government/2016/02/27/uzbekistani-delegation-shares-their-experiences-with-open-data-on-austin-visit.html`

I'm not sure what we're doing wrong:
[code]

[2016-03-04 11:40] techtolentino commented on #84
Hey @luqmaan! I'm not a member of Open Austin, but I am a friend of @mateoclarke.

So, I pulled down the repo and tried something.

For the current-news.html... if you change your **Post Title** and the **Read More** links to use:

[code]

I _believe_ it should work!

To test it locally,
- I checked the link
- deleted the most recent post and the `_site` folder
- stopped the server
- restarted the

[2016-03-04 13:48] techtolentino commented on #81
I think this is an easy fix and you might've already fixed it:

**_homepage-featured-section.scss**

[code]

[2016-03-04 14:10] mateoclarke commented on #81
My man! Thanks @techtolentino! Next time feel free to make a pull request... if ya want.

:octocat:

[2016-03-04 14:10] #81 closed

[2016-03-04 14:12] techtolentino opened #85 "Create some form of Contributing documentation"
As an open-source contributor, one who is not a member of Open Austin, it would be awesome to have some sort of documentation around making contributions to the repo.

Benefits:
- allow contributions from the open community
- visibility into the Git workflow
- opportunity to standardize `new issue`, `commit`, and `pull request` guidelines
- potential quicker turn around on issues

[2016-03-04 14:26] #84 closed

[2016-03-04 14:33] mateoclarke commented on #84
Fixed it. Thanks for the help @techtolentino!

[2016-03-04 14:47] techtolentino commented on #82
@mateoclarke one way to remove the `Previous` from showing up on the first page is to just throw in another conditional. I looked it up and found logical operators in Liquid, also checked the variables for paginator via Jekyll docs:

Here's a little solution which basically checks if `paginator.page == 1`, then render nothing. Else, render `Previous`

[code]

[2016-03-04 14:52] techtolentino commented on #82
To give the pagination navigation at the bottom a little more breathing room
**_layout.scss**

[code]

I think using `$spacing-unit / 2;` for padding-top and padding-bottom sticks to the vertical rhythm of the page, since the _base spacing unit_ is already set to 30px.

[2016-03-05 11:41] techtolentino opened #86 "/projects page should link to Github repo"
In the [introductory paragraph](http://www.open-austin.org/projects/) on the Open Austin Projects page, the copy should have a link to the Github Repo for _Project Ideas_.

<br>
<br>

<img width="670" alt="screen shot 2016-03-05 at 5 41 37 am" src="https://cloud.githubusercontent.com/assets/6276074/13547348/f8d23596-e294-11e5-8a1e-7ed8cc31f82a.png">

[2016-03-06 12:27] techtolentino commented on #82
Here are a couple of screen shots that might help, also demonstrating that on the first page, the word _Previous_ should not render:

<br>
<br>

---

**_added top and bottom padding_**

<img width="1440" alt="vertical_padding" src="https://cloud.githubusercontent.com/assets/6276074/13553931/627323d2-e35f-11e5-821d-a23520a933d5.png">

<br>
<br>

---

**_added top and bottom padding and text-align r

[2016-03-06 15:34] #86 closed

[2016-03-06 15:35] luqmaan commented on #82
Can you open a pull request with these changes?

[2016-03-06 15:44] techtolentino commented on #82
Sure, I will at some point today. Thanks @luqmaan

[2016-03-06 18:06] #82 closed

[2016-03-06 18:21] mateoclarke commented on #83
I'm on this now.

[2016-03-06 18:32] #83 closed

[2016-03-06 18:33] mateoclarke commented on #83
![screen shot 2016-03-06 at 12 33 34 pm](https://cloud.githubusercontent.com/assets/5697474/13556126/ad8a4c46-e397-11e5-878e-116b9ed17c7e.png)

[2016-03-06 19:50] amaliebarras commented on #83
Just looking on my phone, is this the same account? If not, I want to add a filter in GA to exclude bots

Sent from my iPhone

[2016-03-06 22:11] mateoclarke commented on #83
no @amaliebarras, I created a new code because I didn't have access to the one you have. Is it easier for you to add filters or to send me the old code?

[2016-03-07 00:56] amaliebarras commented on #83
I personally think we should use the old account so we don't lose historical data. Let me try to find the UA #

www.open-austin.org(UA-64394324-1)

Sent from my iPhone

[2016-03-07 01:21] mateoclarke commented on #83
cool, that makes sense. can you add my email to the admin for that property?

Just changed the ID

[2016-03-07 01:58] amaliebarras commented on #83
Yea!
Done
Sent from my iPhone

[2016-03-08 01:29] techtolentino opened #89 "Project pages via mobile device"
I noticed that a few project pages, on mobile, have a little extra right gutter. Haven't looked into the cause yet, but it leaves what looks like a margin-right or padding-right spacing.

Is anyone else seeing this on their device?

These screenshots are done in Chrome's mobile device emulator using Nimbus, but I did notice it on an LG G4 via Chrome browser.

<br>
____
![screenshot-www open-austin

[2016-03-08 13:57] techtolentino opened #91 "Latest blog post isn't linking it's corresponding image"
The latest blog post isn't linking the image correctly.

<img width="1015" alt="screen shot 2016-03-08 at 7 56 19 am" src="https://cloud.githubusercontent.com/assets/6276074/13603523/70938542-e503-11e5-8ab9-9780916ed522.png">

[2016-03-08 14:05] mateoclarke commented on #91
haha you caught me. It was because the file was named `sxswi.jpg` and in the Markdown file it was spelled `SXSWi.jpg`. Fixed it immediately but it took a few for the cache to clear maybe?

[2016-03-08 14:05] #91 closed

[2016-03-08 14:06] techtolentino commented on #91
This was fixed by @mateoclarke :tada:

[2016-03-08 14:56] mateoclarke opened #92 "RSS feed publishes with broken urls"
We have a Slackbot that grabs new articles from the RSS feed. But the link it gives isn't working.

<img width="1179" alt="screen shot 2016-03-08 at 8 52 28 am" src="https://cloud.githubusercontent.com/assets/5697474/13605037/3abbed94-e50b-11e5-94cc-a18ae5aea84a.png">

![screen shot 2016-03-08 at 8 52 14 am](https://cloud.githubusercontent.com/assets/5697474/13605062/5600fa0e-e50b-11e5-990e-4d303b

[2016-03-08 14:56] #37 closed

[2016-03-08 14:57] #34 closed

[2016-03-08 14:57] mateoclarke commented on #34
closed this issue now that we are live. If there are new content or design suggestions, let's open new issues for them.

[2016-03-08 14:58] mateoclarke commented on #73
closing this issue since the page is live. if there are specific content or design suggestions, lets open new issues

[2016-03-08 14:58] #73 closed

[2016-03-08 14:58] #11 closed

[2016-03-08 15:00] mateoclarke commented on #10
closing this issue since the page is live. if there are specific content or design suggestions, lets open new issues

[2016-03-08 15:00] #10 closed

[2016-03-08 15:03] mateoclarke commented on #78
I've added thumbnail images to the most recent blog posts (everything that show up in the first page of posts) so things only look raw as you go further back in time. Doing this for every post would be time consuming and I think we should focus on new content and new features now that we are live. We can clean up old files as we find ourselves in them.

[2016-03-08 15:03] #78 closed

[2016-03-08 20:01] luqmaan opened #93 "Add "edit this page" link to templates"
We should have an edit this page link on every page/post.

Some discussion on how to do this: https://github.com/jekyll/jekyll-help/issues/5

[2016-03-08 21:11] mateoclarke commented on #93
:+1:

[2016-03-10 06:25] mateoclarke commented on #48
## How to draft a blog post for Open Austin

There are three primary options:
- _(Easiest)_ Draft it as a markdown file or Google doc and send it to @mateoclarke or @luqmaan.
- _(Hardest)_ Clone the `open-austin-org` repo to your local computer and submit your draft via a Pull Request to `master`. I use an app called [MacDown](http://macdown.uranusjr.com/) to edit Markdown files. The main advantag

[2016-03-10 07:25] mateoclarke commented on #92
this was resolved with #95

[2016-03-10 07:25] #92 closed

[2016-03-10 07:38] mateoclarke commented on #49
This is complete:
http://www.open-austin.org/candidate-questionnaires/2014-austin-city-council.html

[2016-03-10 07:38] #49 closed

[2016-03-16 01:30] twentysixmoons commented on #48
Can there also be instructions to edit a blog post?

:eyes:

[2016-03-16 03:36] mateoclarke commented on #48
ok! :cake:

[2016-03-16 05:59] mateoclarke commented on #93
relates to #48

I'll work on this asap.

[2016-03-19 16:23] twentysixmoons commented on #76
I'm looking at the page now and trying to do some organization. Will try to push some changes today.

[2016-03-20 00:37] luqmaan opened #98 "Add contributors section to projects"
We should add a contributors section to the projects so that we can give credit to the people who worked on the projects.

Code for Miami does this by pulling in the contributors from the GitHub repo automatically.

![image](https://cloud.githubusercontent.com/assets/1275831/13902088/bb0b16fe-ee08-11e5-940a-64310576e766.png)

But I don't think this is sufficient because many people contribute with

[2016-03-20 16:56] mateoclarke commented on #93
![screen shot 2016-03-20 at 11 52 40 am](https://cloud.githubusercontent.com/assets/5697474/13905603/9c14e95c-ee92-11e5-91e4-ac6c422fedfa.png)
![screen shot 2016-03-20 at 11 52 54 am](https://cloud.githubusercontent.com/assets/5697474/13905614/b146ef46-ee92-11e5-9f29-2f5fa05d306a.png)
![screen shot 2016-03-20 at 11 52 34 am](https://cloud.githubusercontent.com/assets/5697474/13905617/cba1e17a-ee92

[2016-03-20 16:56] #93 closed

[2016-03-20 16:57] mateoclarke commented on #48
added the edit this page/post/project link to each page #93

If more instructions are needed on how to edit content, lmk.

[2016-03-20 16:57] #48 closed

[2016-03-20 17:05] #89 closed

[2016-03-25 15:56] luqmaan opened #99 "Add slack widget"
Saw this on http://www.codeforatlanta.org/.

![image](https://cloud.githubusercontent.com/assets/1275831/14047829/95d0cc22-f280-11e5-8926-601c7615ac79.png)

[2016-03-25 16:00] techtolentino commented on #99
I think this is awesome - how'd they get that widget?

[2016-03-25 21:16] luqmaan commented on #99
https://github.com/rauchg/slackin#realtime-badge

Our Slackin instance: http://slack.open-austin.org

[code]

The `async defer` part is important because sometimes it takes forever (30+ seconds) for Heroku to wake up.

[2016-03-25 21:30] techtolentino commented on #99
:heavy_plus_sign: :100:

[2016-03-26 00:24] techtolentino opened #101 "Add Contributing section to README.md"
Now that the CONTRIBUTING.md doc is in place, I think the README.md should:
- [ ] link to the CONTRIBUTING.md
- [ ] Title
- [ ] Tiny introduction/description that describes something regarding contributing

[2016-03-26 01:44] #85 closed

[2016-03-26 04:28] mateoclarke commented on #85
:tada:

[2016-04-10 18:07] mateoclarke opened #102 "Search"
https://github.com/18F/jekyll_pages_api_search

[2016-04-10 18:09] mateoclarke commented on #77
Maybe we start tagging each meetup recap so there would be a natural filter on existing content, instead of having to create more content within a new collection.

[2016-04-11 20:59] luqmaan commented on #102
Will github pages be able to build the site with the jekyll_pages_api_search plugin?

Or will we need a separate build step (e.g. via TravisCI) to build the search index?

[2016-04-27 01:53] mateoclarke commented on #47
Here's some inspiration on what a cooler more interactive project gallery could be:
http://codefordc.org/projects/

They use some javascript for filtering projects by language. Also seems to be sorted by recent github activity. They are using a lot of Github data via the API.

[2016-05-15 22:18] mateoclarke opened #105 "Update Projects Page with Process Info"
[_from May 3 hackpad_](https://openaustin.hackpad.com/3-May-2016-civichacknight-invDVHonb6H#:h=Open-Austin-Project-Process)

Open Austin Project Process
We're working on a process for taking projects from an experiment to being official Open Austin projects.

Code for America has the four project stages
experiment
alpha
beta
official

But, it is not clear how to move between the stages in terms of

[2016-05-29 17:51] mateoclarke commented on #105
Working on this via #107

[2016-06-01 01:36] luqmaan commented on #105
http://open-austin.org/projects/process

[2016-09-15 03:18] VictoriaODell opened #114 "Multiple authors for blog post"
Is this something we can do/ add?

[2016-09-25 22:48] VictoriaODell opened #117 "Subscribe to Newsletter"
It would be great if we could get a "Subscribe to our Newsletter" spot somewhere on our website now that we are sending out emails more regularly.

At the very least having this on the event page & blog page would probably be good.

Here's a tutorial for reference:
https://prashantsolanki.com/2016/07/simple-subscription-form-for-your-jekyll-blog/

[2016-09-25 23:21] twentysixmoons commented on #117
@mapineda would you like to work on this with me?

[2016-09-26 00:44] twentysixmoons commented on #77
Is this still something we want to do? We've been posting our blog recaps but maybe we could filter them?

[2016-09-28 01:50] mateoclarke opened #118 "Add 2016 Candidate Survey to site"
- extended deadline Friday, Oct 14th

Key:
- ✅ = responded
- ❌ = no response
- 💩 = declined to participate

## Responses

| Name     | District           | Status  | Notes |
| ------------- |:-------------:|:-----:|------|
| Casey Ramos | 2 | ❌ | Second round of outreach 9/28 via [FB](https://www.facebook.com/WizardRamos4) msg, tx_boxer1@yahoo.com, `@ramos4d2` |
| Wesley Faulkner | 2 | ✅ | `@Austi

[2016-09-28 02:04] twentysixmoons commented on #118
[canidate-survey.pdf](https://github.com/open-austin/open-austin.github.io/files/496986/canidate-survey.pdf)

![canidate_survey](https://cloud.githubusercontent.com/assets/10767430/18898252/ed93ebb2-84f5-11e6-8347-242e6618b282.png)

Hey team, above is a quick wireframe based on our whiteboard image.
@brainnews can you share the notes you took with us?

A few things to address and iterate on:
- [ ]

[2016-09-28 02:09] twentysixmoons commented on #118
originial whiteboard sketch

![img_3710](https://cloud.githubusercontent.com/assets/10767430/18898334/ab5af12c-84f6-11e6-89a1-c1aa79739866.JPG)

[2016-09-29 12:32] brainnews commented on #118
Here are my notes from Tuesday night:

**Open Questions:**
Are there colors for each district that we can use to differentiate each tab?
How do the email links look/function?
What does it look like when a candidate hasn't responded to a question?

**Needs:**
Auto-populated email subject line and message body(?)

(For example)
_Subject line:
I have a question about your position on [topic]
Body:
Le

[2016-10-01 17:02] twentysixmoons commented on #118
Additional information that will likely change the design

Only 5 races right now:
2,4,6,7,10

We only send the candidate questionnaire to districts that have races.
I'm iterating on our current layout right now.

[2016-10-02 02:16] twentysixmoons commented on #118
Iterating on the UI with sketch.

I like this website from Progress texas. Taking some ques from it :eyes:
http://fightbacktx.com/

<img width="943" alt="screen shot 2016-10-01 at 9 15 53 pm" src="https://cloud.githubusercontent.com/assets/10767430/19018154/59e34d52-881c-11e6-962b-4eb9a1f8340f.png">

[2016-10-03 03:05] twentysixmoons commented on #118
I iterated on the mockups some. Lengthwas kind of concerning me with the repetitive "no response" sections. This mockup reflects info for district 10. I didn't do all the text for the respones. Sketch and PDFs available for review.

PDF: [canidate-survey-v2.pdf](https://github.com/open-austin/open-austin.github.io/files/505430/canidate-survey-v2.pdf)
Sketch File: [Uploading council-survey-v2.zip…]

[2016-10-05 03:50] mateoclarke commented on #118
@VictoriaODell, I had a chance to look over v2 today and I think it looks great! Wonderful work! I have a couple tinsy copy edits I would recommend, but I'm feeling like we should go ahead and turn this high-fidelity mockup into code and iterate from there. Is that ok?

I will start this out over the next couple days but I will be pretty busy through Saturday with work stuff. My goal would be to g

[2016-10-05 04:41] twentysixmoons commented on #118
Sounds good @mateoclarke

[2016-10-17 02:03] #118 closed

[2016-10-17 02:18] mateoclarke commented on #118
https://www.open-austin.org/candidate-questionnaires/2016.html

This is as close as I could get to the mock without spending a bunch more time on small things this weekend.

Some things that could/should still be addressed if there is more time:
- [ ] Make the 5 districts tabs size down to work on mobile
- [ ] Add the navigable table of contents fixed sidebar section that Vickie and originally des

[2016-11-14 22:47] zacacollier opened #125 "Unsupported project stage tags"
Project stage tags ("beta" "alpha" etc) link to a non-existent route on brigade.codeforamerica.org:

<img width="1440" alt="screen shot 2016-11-14 at 4 13 05 pm" src="https://cloud.githubusercontent.com/assets/18710669/20285005/48c8d362-aa85-11e6-9b78-16ac4884b943.png">
<img width="1440" alt="screen shot 2016-11-14 at 4 13 14 pm" src="https://cloud.githubusercontent.com/assets/18710669/20285015/4d

[2016-11-17 18:44] mateoclarke commented on #125
@zacacollier, you're awesome for taking the time to point this out. Looks like CfA updated their website and killed off some urls we were linking.

We'll work on getting it updated.

[2017-01-20 22:21] mateoclarke opened #131 "Update events feed url on /events under Calendar section"
https://www.meetup.com/meetup_api/feeds/

http://api.meetup.com/Open-Austin/upcoming.ical

[2017-04-05 02:10] werdnanoslen opened #135 "Add open-austin/test-repo to projects page"
open-austin/test-repo<br>
By open-austin<br><br>
delete this repo, just testing for IFTTT recipe<br><br>
Clone URL: http://bit.ly/2oAQ7Nt<br><br>
April 4, 2017 at 10:10PM<br>
via GitHub http://bit.ly/2nI048b

[2017-04-05 02:13] werdnanoslen commented on #135
Successfully tested IFTTT recipe that creates an issue on this repo every time a new repo is created in the open-austin org. I'll delete the test-repo repo now and close this issue.

[2017-04-05 02:13] #135 closed

[2017-04-05 03:32] amaliebarras commented on #135
SO GOOD 👍

[2017-04-07 17:19] werdnanoslen opened #136 "Add active projects"
For each of the following, we need a one-sentence description and any non-github link that may be important:
✅  https://github.com/open-austin/budgetparty
:x:  https://github.com/open-austin/awesome-reports
✅  https://github.com/open-austin/liberate-appraisal-data
✅  https://github.com/open-austin/lobbying-in-austin
✅  https://github.com/open-austin/harris-county-bookings
✅  https://github.com/ope

[2017-04-11 02:39] mateoclarke commented on #136
*Budget Party* is a web app design for mobile devices that teaches you about the City Budget and invites you to remix how departments and services are funded. The app is part of larger project in partnership with the Austin Monitor and funded by a grant from the Mozilla Gigabit Fund to teach high schoolers about civic priorities.

Award Announcement: https://www.open-austin.org/blog/2017/02/08/bud

[2017-04-11 02:42] mateoclarke commented on #136
*Fake the News* is a web literacy project designed to help educators and teens evaluate online news for credibility and trust to strengthen their communities’ resilience to fake news and misinformation. This project is a collaboration between Open Austin, the Austin Monitor, Nucleus Learning Network, and Civic Party Software funded by the Mozilla Foundation.

More info: https://fakenews.open-austi

[2017-04-11 02:49] mateoclarke commented on #136
*Harris County Bookings* is a scrapper that runs daily to aggregate data from the Harris County Justice Information and Management System reports. This information is intended for researchers and non-profits looking to do studies on policing in Harris County.

The data exists as searchable CSV via the Github repository.

https://github.com/open-austin/harris-county-bookings

[2017-04-11 04:03] mscarey commented on #136
lobbying-in-austin was an experiment with data visualization for the city's lobbyists registration database. It went dormant because we failed to find an interesting narrative in the limited data available. I think it's still in good enough shape that any future project with the lobbyist datasets should reuse this work rather than starting over.

The main product of the experiment was a chart (wit

[2017-04-11 04:06] mateoclarke commented on #136
lobbying-in-austin was a success! It turned into a great blog post prodiving analysis for the community. I would love if we could do more experiements like this that result in an article about the methodology and analysis. https://www.open-austin.org/blog/2016/06/12/finding-a-story-in-austins-lobbying-data

[2017-04-11 04:35] werdnanoslen opened #137 "Add open-austin/projects-bot to projects page"
open-austin/projects-bot<br>
By open-austin<br><br>
A bot that helps run project management tasks<br><br>
Clone URL: http://bit.ly/2nzqf54<br><br>
April 10, 2017 at 11:10PM<br>
via GitHub http://bit.ly/2nXywLj

[2017-04-12 02:35] werdnanoslen opened #138 "Add open-austin/GreenBelts to projects page"
open-austin/GreenBelts<br>
By open-austin<br><br>
Interactive web map app to chat and share geo-tagged content about local Austin green spaces.<br><br>
Clone URL: http://bit.ly/2p3F3IW<br><br>
April 11, 2017 at 09:06PM<br>
via GitHub http://bit.ly/2o31IAM

[2017-04-14 00:32] werdnanoslen commented on #136
@patrickm02L has been MIA here and Slack for a few days. Any other way to contact him? Or someone wanna make a provisional one-liner until he responds?

And I PM'd @johnclary on Slack, waiting on him to respond too

[2017-04-14 02:08] johnclary commented on #136
@werdnanoslen thanks for staying on top of this. I just updated the readme with this info.
*Liberate Appraisal Data* is an effort to open up the [Travis County Appraisal District (TCAD)](www.traviscad.org) appraisal roll data. The annual appraisal roll consists of valuations of every parcel in the county, and includes details about the age and square footage of property improvements, the size and

[2017-04-15 05:35] werdnanoslen commented on #136
@patrickm02L deleted the awesome-reports repo because he said it was only a placeholder with no code, and he wasn't excited about it anymore.

So, now that the info's all here, i'll start making updates...

[2017-04-15 05:50] werdnanoslen commented on #136
To get this on https://www.open-austin.org/projects/, we'll need the following info:

---
type:         ????
categories:   [ ????, ???? ]
thumb:        ????
screenshot:   ????
featured:     ????
---

[2017-04-16 15:07] johnclary commented on #136
@werdnanoslen can you expand on 'type' and 'categories'? what are you looking for there?

[2017-04-16 15:12] werdnanoslen commented on #136
Heya, sorry this was actually more of a note to self, should have mentioned that. I'm not 100% sure either. It's the template our projects page seems to use.

[2017-04-21 03:29] werdnanoslen commented on #136
Done:

- [x] [budget-party](https://github.com/open-austin/open-austin.github.io/commit/e7ac4185de4d42c397658a9fa428c1edc842f687)
- [x] [liberate-appraisal-data](https://github.com/open-austin/open-austin.github.io/commit/4f25093614f64cb0b25411a28aa915b6f14dd780)
- [x] [lobbying-in-austin](https://github.com/open-austin/open-austin.github.io/commit/5cf4d08c853abc9c4f09956182ad0af0d17a68a3)
- [x] [

[2017-04-21 04:51] #136 closed

[2017-04-21 04:53] werdnanoslen commented on #138
project not ready yet

[2017-04-21 04:53] werdnanoslen commented on #137
project not ready yet

[2017-04-28 04:05] werdnanoslen opened #139 "Add open-austin/hackpad to projects page?"
New repo. To get this on http://bit.ly/2oCnn7Y, we'll need the following info for fields marked '????' --- title: open-austin/hackpad description: Old Hackpads for archival purposes access_at: ???? project_at: http://bit.ly/2qd0SUv type: ???? status: in development categories: [ ????, ???? ] contact: ???????@????.com?&gt; cfa_stage: alpha layout: post date: April 27, 2017 at 11:26PM thumb: ???? sc

[2017-04-28 04:07] mateoclarke commented on #139
Assuming this gibberish is automated.

The hackpad repo isn't for a project, just documentation. Closing

[2017-04-28 04:07] #139 closed

[2017-04-28 17:48] werdnanoslen commented on #139
Whoops looks like I messed up my template, will fix

[2017-04-28 18:08] mateoclarke commented on #139
nice, glad we got a little test in. I really like this bot tho. It will up us stay better on top off highlighting projects.

[2017-05-19 15:57] smonami opened #140 "Project process page [Project Stages] - Broken links"
On the Project [Process](https://www.open-austin.org/projects/process) page, "Project stages" Section, following links are broken.
Tried searching these on http://brigade.codeforamerica.org/brigade website but could not find any such or new link either.

**Broken links:**
http://brigade.codeforamerica.org/brigade/projects/stages
http://brigade.codeforamerica.org/brigade/projects/stages#experiment

[2017-06-03 17:58] werdnanoslen opened #141 "Add open-austin/budgetparty-landing to projects page?"
There's a new OpenAustin org repo! To get this on the projects page, we'll need the following info for fields marked '????'<br><br>
- title: open-austin/budgetparty-landing<br>
- description: A landing page and hub for all things budget party!<br>
- access_at: ????<br>
- project_at: http://bit.ly/2spTc25<br>
- type: ????<br>
- status: in development<br>
- categories: [ ???? ]<br>
- contact: ????@?

[2017-06-03 18:35] mateoclarke commented on #141
this is part of budget party, no new project page required.

[2017-06-03 18:35] #141 closed

[2017-06-03 19:58] werdnanoslen opened #142 "Add open-austin/restroom-map to projects page?"
There's a new OpenAustin org repo! To get this on the projects page, we'll need the following info for fields marked '????'<br><br>
- title: open-austin/restroom-map<br>
- description: A mobile app for mapping gender-neutral restrooms<br>
- access_at: ????<br>
- project_at: http://bit.ly/2s5aTXD<br>
- type: ????<br>
- status: in development<br>
- categories: [ ???? ]<br>
- contact: ????@????.com<b

[2017-06-03 21:58] werdnanoslen opened #143 "Add open-austin/accountable-texas to projects page?"
There's a new OpenAustin org repo! To get this on the projects page, we'll need the following info for fields marked '????'<br><br>
- title: open-austin/accountable-texas<br>
- description: Inform the Texas electorate by putting politicians' campaign finance records next to their voting records in one succinct, mobile platform.<br>
- access_at: ????<br>
- project_at: http://bit.ly/2sqOFwm<br>
- ty

[2017-08-02 06:21] werdnanoslen opened #144 "Add open-austin/government.github.com to projects page?"
There's a new OpenAustin org repo! To get this on the projects page, we'll need the following info for fields marked '????'<br><br>
- title: open-austin/government.github.com<br>
- description: Gather, curate, and feature stories of public servants and civic hackers using GitHub as part of their open government innovations<br>
- access_at: ????<br>
- project_at: http://bit.ly/2wk4NAM<br>
- type: ?

[2017-08-02 14:01] mateoclarke commented on #144
sorry, I forked this because I thought Open Austin was missing from their list of civic hacking orgs (but we weren't) and I thought that was the reason they started billing us for 3 private repos.

[2017-08-02 14:01] #144 closed

[2017-08-24 14:46] werdnanoslen opened #145 "Add open-austin/Restaurant-Health-Inspection-Score-Prediction to projects page?"
There's a new OpenAustin org repo! To get this on the projects page, we'll need the following info for fields marked '????'<br><br>
- title: open-austin/Restaurant-Health-Inspection-Score-Prediction<br>
- description:<br>
- access_at: ????<br>
- project_at: http://bit.ly/2wJ5ZkE<br>
- type: ????<br>
- status: in development<br>
- categories: [ ???? ]<br>
- contact: ????@????.com<br>
- status: alph

[2017-08-25 00:43] VictoriaODell opened #146 "Update Events Page Information"
Hey, ya'll.

I want to update the [events page ](https://www.open-austin.org/events/)with more accurate information about our events. Some of the current language is a little outdated.

Here is the updated doc:
[https://docs.google.com/document/d/16fpYnuPjoLNu7c15POulOQ7AYEmdtrU5D5ogk4h-9Ek/edit?usp=sharing](https://docs.google.com/document/d/16fpYnuPjoLNu7c15POulOQ7AYEmdtrU5D5ogk4h-9Ek/edit?usp=s

[2017-09-07 16:39] #146 closed

[2017-09-13 01:24] werdnanoslen opened #148 "Add open-austin/consumer-protection to projects page?"
There's a new OpenAustin org repo! To get this on the projects page, we'll need the following info for fields marked '????'<br><br>
- title: open-austin/consumer-protection<br>
- description: Visualizations of Consumer Financial Protection Data<br>
- access_at: ????<br>
- project_at: http://bit.ly/2xYfWZ5<br>
- type: ????<br>
- status: in development<br>
- categories: [ ???? ]<br>
- contact: ????@

[2017-09-16 14:50] #137 closed

[2017-09-16 14:54] #138 closed

[2017-09-16 14:54] #142 closed

[2017-09-16 14:54] #143 closed

[2017-09-16 14:55] #145 closed

[2017-09-16 14:55] #148 closed

[2017-11-30 04:53] mscarey opened #150 "Separate page or space for archived projects"
Currently, dormant and inaccessible projects are features on the Projects page alongside active ones. Now that the page is getting crowded, we need to be able to mark some projects as "archived" to send them to a separate page for projects that aren't currently usable and aren't seeking development help.

[2018-02-05 05:50] mscarey commented on #140
Finally fixed. Thanks!

[2018-02-05 05:50] #140 closed

[2018-02-05 08:16] #105 closed

[2018-02-05 08:40] mscarey opened #151 "Link project-ideas and project listings"
For the planned redesign of the projects page, we might need to add a link between each project's listing in the _projects directory and the corresponding project-ideas Github issue. Maybe this could be the issue number or URL for the project-ideas listing, stored in the YAML of the _projects listing? Every _projects listing should already have a corresponding project-ideas listing, but not vice v

[2018-02-05 09:24] mscarey commented on #125
I tried to address this in 2cc6ac9a54c220368a22aa5da63eee4f98689ed6.

[2018-02-21 02:54] mscarey opened #152 "add helpwanted.team/open-austin to projects page"

[2018-03-02 04:38] #125 closed

[2018-03-02 06:59] mscarey commented on #150
I added an "archived: true" flag to the YAML files for some defunct projects, and made them not appear on the projects page. We still need an "archived projects" page where they _will_ appear.

[2018-03-02 07:02] mscarey opened #153 "Make project thumbnails do something"
The YAML files for projects have an entry for "thumbnail". Some have listings pointing to thumbnail images in our repo, but I can't see where they're appearing anywhere on the site. We need to find a use for those images or else delete them and the YAML lines that point to them.

[2018-03-02 07:23] mscarey commented on #152
I added a link. Maybe a broader integration would be better, but I'm closing this for now.

[2018-03-02 07:23] #152 closed

[2018-03-02 07:36] mscarey commented on #8
I agree, we need an onboarding page. A path to get involved in a project should be available online all the time, so we're not depending on the happenstance of the right people meeting each other at a hack event. I think the page really needs these:

- It should point people to projects/issues they can contribute to.
- Recently launched
- Needs love / Open Issues
- Suggest a Project Idea / Start a

[2018-03-02 07:59] mscarey commented on #55
Added to advocacy page.

[2018-03-02 07:59] #55 closed

[2018-03-02 08:01] mscarey commented on #76
I don't remember what we were talking about here. Maybe one day soon we can redesign the page around the priorities of a new policy lead...

[2018-03-02 08:01] #76 closed

[2018-03-05 08:06] jayvdb commented on #102
You would need a separate step to build the search index.
Building on Travis and sending to GitHub is one appoach.

However, you might want to do the build and hosting with https://netlify.com , which has a bunch of other cool features.

[2018-09-13 21:52] mscarey commented on #153
And I forgot about this issue and just wasted my time making a thumbnail for InfluenceTX

[2019-03-14 03:48] mscarey opened #154 "email and Twitter links from project listings"
Our YAML project listings usually contain a "contact" field with an email address or a Twitter handle. I don't think those are currently displayed anywhere. We should turn them into separate Twitter and email fields, and have the CMS display them as appropriate links/buttons.

[2019-04-24 23:27] mscarey opened #156 "update leadership listing on About page"
Updated as of today, but the brigade leadership listings will need changes again soon pending Mateo's and Vickie's final decisions about their titles. (And James, but I think he's settled on co-captain).

[2019-05-16 00:03] mscarey opened #157 "move bodycam site to subdomain of open-austin.org"
We formerly had a github pages static site at atxbodycam.com, but that domain expired (see https://github.com/open-austin/bodycam/issues/20). The site is now inactive and probably mostly relevant to people looking through our archives, so it should be safe for us to move the site to a subdomain of open-austin.org.

[2020-06-01 01:40] sergeiwallace opened #165 "Add git clone instruction before bundle install instruction"
Very small, obvious thing but I think it wouldn't hurt to add an explicit instruction for git clone <repo> before the bundle install instruction so people can follow sequentially. Took me a second to realize that the bundle install instruction was for being inside the repo directory. I can add this to the readme. Just adding issue for myself to follow up with later.

[2020-06-01 02:30] sergeiwallace commented on #165
added pull request for readme edits

[2020-06-07 18:14] #165 closed

[2020-07-27 05:10] #156 closed

[2022-08-03 21:04] lianilychee commented on #157
overtaken by events

[2022-08-03 21:04] #157 closed

[2022-08-03 21:04] lianilychee commented on #154
overtaken by events

[2022-08-03 21:04] #154 closed

[2022-08-03 21:04] lianilychee commented on #153
overtaken by events

[2022-08-03 21:04] #153 closed

[2022-08-03 21:04] lianilychee commented on #151
overtaken by events

[2022-08-03 21:04] #151 closed

[2022-08-03 21:04] lianilychee commented on #150
overtaken by events

[2022-08-03 21:04] #150 closed

[2022-08-03 21:04] lianilychee commented on #101
overtaken by events

[2022-08-03 21:04] #101 closed

[2022-08-03 21:05] lianilychee commented on #99
overtaken by events

[2022-08-03 21:05] #99 closed

[2022-08-03 21:05] lianilychee commented on #98
overtaken by events

[2022-08-03 21:05] #98 closed

[2022-08-03 21:05] lianilychee commented on #77
overtaken by events

[2022-08-03 21:05] #77 closed

[2022-08-03 21:05] lianilychee commented on #74
overtaken by events

[2022-08-03 21:05] #74 closed

[2022-08-03 21:05] lianilychee commented on #60
overtaken by events

[2022-08-03 21:05] #60 closed

[2022-08-03 21:05] lianilychee commented on #47
overtaken by events

[2022-08-03 21:05] #47 closed

[2022-08-03 21:05] lianilychee commented on #40
overtaken by events

[2022-08-03 21:05] #40 closed

[2022-08-03 21:05] lianilychee commented on #8
overtaken by events

[2022-08-03 21:05] #8 closed

[2022-08-03 21:05] lianilychee commented on #131
overtaken by events

[2022-08-03 21:05] #131 closed

[2022-08-03 21:05] lianilychee commented on #117
overtaken by events

[2022-08-03 21:05] #117 closed

[2022-08-03 21:05] lianilychee commented on #114
overtaken by events

[2022-08-03 21:05] #114 closed

[2022-08-03 21:06] lianilychee commented on #102
overtaken by events

[2022-08-03 21:06] #102 closed

[2022-08-07 19:52] lianilychee opened #172 "Create V2"
# Context
Open Austin has had the same website since it started in 200[9, ](https://www.open-austin.org/)[https://www.open-austin.o](https://www.open-austin.org/)rg/ (nicknam[ed ](https://open-austin.org/)""V0, the original"").  V0's does not have clear call-to-actions, and its info architecture/heirarchy does not match users' desired outcomes.  To address the V0 shortcomings, in 2020 we developed

[2022-08-07 20:03] lianilychee commented on #172
moved to milestone https://github.com/open-austin/website-v2/milestone/1

[2022-08-07 20:03] #172 closed